.post {
    padding: 32px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .14);
    display: flex;
}

.post__content {
    max-width: 700px;
}

.post__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
    padding-bottom: 8px;
}

.post__description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
}

.post__data {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, .64);
    text-decoration: none;
}
